@import "./responsive";

$desktopTitles: 4rem;
$tablesTitles: 3rem;
$mobileTitles: 2rem;

$desktopSubTitles: 3rem;
$tablesSubTitles: 2rem;
$mobileSubTitles: 1rem;

$desktopText: 2rem;
$tablesText: 1rem;
$mobileText: 0.5rem;

h1 {
    font-size: $mobileTitles;
    @include tablet {
        font-size: $tablesTitles;
    }
    @include desktop {
        font-size: $desktopTitles;
    }
}

h2 {
    font-size: $mobileSubTitles;
    @include tablet {
        font-size: $desktopSubTitles;
    }
}

p,li,label {
    font-size: $mobileText;
    @include tablet {
        font-size: $desktopText;
    }
}